<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
           <!--<Filters>
                <RegexFilter regex=".*Shuffle.*|.*4\d\d.*" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters> -->
            <PatternLayout pattern="%highlight{%level{length=1}[%d{HH:mm:ss,SSS}] [%t]%logger{0}:}{STYLE=Logback} %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <Logger level="debug" name="protocols.overlays.hyparview"/>
        <Logger level="debug" name="protocols.overlays.cyclon"/>
        <Logger level="debug" name="protocols.dissemination.plumtree"/>
        <Logger level="debug" name="protocols.dissemination.flood"/>
        <Root level="debug">
            <AppenderRef ref="Console" level="all"/>
        </Root>
    </Loggers>

</Configuration>
